<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="MapEngineOpenGL.MapEngineOpenGL2">
	<uses-sdk android:minSdkVersion="14" android:targetSdkVersion="18" />
	<application android:label="MapEngineOpenGL2">
	</application>
</manifest>